<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.svg" alt="" class="img-fluid" />
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>
        Affecter un formateur à une ou plusieurs sessions de formation
        <br /><span></span><br />
      </h2>
    </div>
  </div>
</section>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form #formateurForm="ngForm" (ngSubmit)="addFormateurSession()">
          <div class="form-group mb-3">
            <label class="form-label">Nom</label>

            <input
              type="text"
              [(ngModel)]="user.firstName"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>
          <label class="form-label">Prénom </label>

          <div class="form-group mb-3">
            <input
              type="text"
              [(ngModel)]="user.lastName"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Email </label>

            <input
              type="email"
              [(ngModel)]="user.email"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Téléphone</label>

            <input
              type="tel"
              [(ngModel)]="user.tel"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>
          <div class="form-group mb-3">
            <select
              name=""
              id=""
              class="form-control"
              (change)="selectGroupe($event)"
            >
              <option value="">
                Veuillez sélectionner la session de formation
              </option>
              <option
                [value]="s._id"
                style="color: black"
                *ngFor="let s of sessionsTab"
              >
                {{ s.name }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <input
              type="submit"
              class="btn btn-primary py-3 px-5"
              value="Affecter"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
