<section id="portfolio" class="clearfix">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3 class="section-title">Notre portfolio</h3>
    </header>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div
      class="row portfolio-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/app1.jpg" class="img-fluid" alt="" />
          <div class="portfolio-text">
            <h3>Application de gestion de tâches</h3>
            <p>
              Une application de gestion de tâches permettant aux utilisateurs
              de créer, de suivre et de partager des listes de tâches, de
              définir des rappels et des priorités, et de collaborer avec
              d'autres utilisateurs en temps réel.
            </p>
          </div>
          <div class="portfolio-info">
            <h4><a href="portfolio-details.html">App 1</a></h4>
            <p>App</p>
            <div></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/web3.jpg" class="img-fluid" alt="" />
          <div class="portfolio-text">
            <h3>Site web de commerce électronique</h3>
            <p>
              Un site web de commerce électronique entièrement fonctionnel
              développé par les étudiants, avec des fonctionnalités telles que
              la navigation par catégories, le panier d'achat, le processus de
              paiement et la gestion des commandes.
            </p>
          </div>
          <div class="portfolio-info">
            <h4><a href="portfolio-details.html">Web 3</a></h4>
            <p>Web</p>
            <div></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/app2.jpg" class="img-fluid" alt="" />
          <div class="portfolio-text">
            <h3>Application de suivi des dépenses</h3>
            <p>
              Un projet d'application mobile ou web permettant aux utilisateurs
              de suivre leurs dépenses, de créer des budgets et de visualiser
              leurs habitudes de dépenses à l'aide de graphiques et de
              statistiques.
            </p>
          </div>
          <div class="portfolio-info">
            <h4><a href="portfolio-details.html">App 2</a></h4>
            <p>App</p>
            <div></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="" />
          <div class="portfolio-text">
            <h3>Site web d'une association caritative</h3>
            <p>
              Un site web développé pour une association caritative locale,
              présentant leur mission, leurs événements à venir, leurs projets
              et permettant aux visiteurs de faire des dons en ligne.
            </p>
          </div>
          <div class="portfolio-info">
            <h4><a href="portfolio-details.html">Web 2</a></h4>
            <p>Web</p>
            <div></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/app3.jpg" class="img-fluid" alt="" />
          <div class="portfolio-text">
            <h3>Jeu vidéo</h3>
            <p>
              Un jeu vidéo développé par les étudiants, démontrant leurs
              compétences en programmation, en conception de jeux et en
              graphismes. Le jeu pourrait être destiné à des plateformes telles
              que PC, consoles ou mobiles.
            </p>
          </div>
          <div class="portfolio-info">
            <h4><a href="portfolio-details.html">App 3</a></h4>
            <p>App</p>
            <div></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt="" />
          <div class="portfolio-text">
            <h3>Système de gestion d'inventaire</h3>
            <p>
              Un projet où les étudiants ont développé un système de gestion
              d'inventaire pour une entreprise fictive ou réelle, permettant de
              suivre les stocks, les commandes et les livraisons de manière
              efficace.
            </p>
          </div>
          <div class="portfolio-info">
            <h4><a href="portfolio-details.html">Web 1</a></h4>
            <p>Web</p>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
