<section id="about">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>A propos nous</h3>
      <p>
        Nous sommes une école de formation en informatique propose des
        programmes adaptés tant aux étudiants débutants qu'aux professionnels en
        reconversion ou désireux de perfectionner leurs compétences dans le
        domaine de l'informatique.
      </p>
    </header>

    <div class="row about-container">
      <div class="col-lg-6 content order-lg-1 order-2">
        <p>
          Ces formations couvrent divers sujets tels que la programmation, les
          réseaux, la cybersécurité, et le développement logiciel. L'objectif
          est d'offrir un environnement d'apprentissage flexible et inclusif,
          permettant à chacun de progresser et d'atteindre ses objectifs
          professionnels dans le domaine de la technologie.
        </p>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title">
            <a href="">Développement Web Full Stack </a>
          </h4>
          <p class="description">
            Cette formation couvre tous les aspects du développement web, du
            front-end au back-end. Les étudiants apprennent les langages de
            programmation tels que HTML, CSS, JavaScript, ainsi que des
            frameworks comme React.js ou Angular pour le front-end, et Node.js
            ou Django pour le back-end. Ils acquièrent également des compétences
            en bases de données et en déploiement de sites web.
          </p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title">
            <a href="">Administration des systèmes et réseaux</a>
          </h4>
          <p class="description">
            Cette formation se concentre sur l'administration et la gestion des
            systèmes informatiques et des réseaux. Les étudiants apprennent à
            configurer, maintenir et sécuriser des serveurs, à gérer des réseaux
            locaux et à résoudre les problèmes liés à l'infrastructure
            informatique. Ils acquièrent des compétences pratiques en gestion
            des utilisateurs, des droits d'accès, et en surveillance des
            performances.
          </p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title">
            <a href=""
              >Formation Spécialisée en Sécurité Informatique et Ethical
              Hacking</a
            >
          </h4>
          <p class="description">
            Cette formation avancée met l'accent sur la sécurité des systèmes
            informatiques, en fournissant aux étudiants les compétences et les
            outils nécessaires pour détecter, prévenir et neutraliser les
            menaces cybernétiques.
          </p>
        </div>
      </div>

      <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
        <img src="assets/img/about-img.svg" class="img-fluid" alt="" />
      </div>
    </div>

    <div class="row about-extra">
      <div class="col-lg-6" data-aos="fade-right">
        <img src="assets/img/about-extra-1.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
        <h4>Programmes de stage et de placement professionnel</h4>
        <p>
          Nous facilitons des opportunités de stage ou de placement
          professionnel auprès de nos entreprises partenaires, offrant ainsi à
          nos apprenants la possibilité de mettre en pratique leurs compétences
          dans un environnement professionnel réel.
        </p>
        <p>
          Ces expériences enrichissantes leur permettent non seulement de
          développer leurs compétences, mais aussi d'établir des contacts
          précieux dans l'industrie pour favoriser leur future carrière.
        </p>
      </div>
    </div>

    <div class="row about-extra">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
        <img src="assets/img/about-extra-2.svg" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-right"
      >
        <h4>Programmes de développement professionnel</h4>
        <p>
          Nous proposons des programmes de développement professionnel qui
          complètent votre formation en informatique en offrant des ateliers et
          des formations supplémentaires sur des sujets essentiels tels que la
          communication efficace, la gestion du temps et le leadership.
        </p>
        <p>
          Ces programmes sont conçus pour renforcer vos compétences
          transversales et vous préparer à réussir dans votre carrière
          professionnelle.
        </p>
      </div>
    </div>
  </div>
</section>
