<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-info">
          <h3>École de Formation</h3>
          <p>
            L'École de Formation offre des programmes de formation de haute
            qualité dans divers domaines. Depuis des années, nous aidons nos
            étudiants à développer leurs compétences et à atteindre leurs
            objectifs professionnels.
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Liens Utiles</h4>
          <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">À Propos</a></li>
            <li><a href="#">Programmes</a></li>
            <li><a href="#">Admissions</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contactez-nous</h4>
          <p>
            123 Rue de l'Éducation <br />
            Paris, France 75001<br />
            <strong>Téléphone:</strong> +33 6 12 34 56 78<br />
            <strong>Email:</strong> info&#64;ecoledeformation.com<br />
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Notre Newsletter</h4>
          <p>
            Inscrivez-vous à notre newsletter pour recevoir les dernières
            actualités et offres spéciales de l'école.
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="S'abonner"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Droits d'Auteur <strong>École de Formation</strong>. Tous Droits
      Réservés
    </div>
    <div class="credits">
      Conçu par <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>
</footer>
