<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.svg" alt="" class="img-fluid" />
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>Les informations de la formation <br /><span></span><br /></h2>
    </div>
  </div>
</section>
<div>
  <h2>Informations de la formation</h2>
  <p><strong>Nom de la formation:</strong> {{ result.name }}</p>
  <p><strong>Date du début :</strong> {{ result.datedebut }}</p>
  <p><strong>Date de la fin :</strong> {{ result.datefin }}</p>
  <p><strong>Nombre d' appreanant:</strong> {{ result.nbLearner }}</p>
  <p><strong>Prix:</strong> {{ result.price }}</p>
  <p><strong>Catégorie:</strong> {{ result.category }}</p>
</div>
