<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.svg" alt="" class="img-fluid" />
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>Ajouter une demande de formation <br /><span></span><br /></h2>
    </div>
  </div>
</section>

<div class="site-section" style="padding: 50px 0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <form
          #demandeForm="ngForm"
          (ngSubmit)="addDemande()"
          style="
            background-color: #f8f9fa;
            border-radius: 15px;
            padding: 30px;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
          "
        >
          <div class="form-group mb-3">
            <label class="form-label" style="font-weight: bold">Nom</label>
            <input
              type="text"
              [(ngModel)]="demande.firstName"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              style="border-radius: 0; box-shadow: none; border-color: #ced4da"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" style="font-weight: bold">Prénom</label>
            <input
              type="text"
              [(ngModel)]="demande.lastName"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              style="border-radius: 0; box-shadow: none; border-color: #ced4da"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" style="font-weight: bold"
              >Cochez le sexe du interlocuteur</label
            >
            <div>
              <label style="font-weight: normal; margin-right: 20px">
                <input
                  type="radio"
                  name="gender"
                  [(ngModel)]="demande.sexe"
                  [ngModelOptions]="{ standalone: true }"
                  value="homme"
                  required
                />
                Homme
              </label>
              <label style="font-weight: normal">
                <input
                  type="radio"
                  name="gender"
                  [(ngModel)]="demande.sexe"
                  [ngModelOptions]="{ standalone: true }"
                  value="femme"
                  required
                />
                Femme
              </label>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" style="font-weight: bold">Fonction</label>
            <input
              type="text"
              [(ngModel)]="demande.function"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              style="border-radius: 0; box-shadow: none; border-color: #ced4da"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" style="font-weight: bold">Adresse</label>
            <input
              type="text"
              [(ngModel)]="demande.adress"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              style="border-radius: 0; box-shadow: none; border-color: #ced4da"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" style="font-weight: bold"
              >Date de naissance</label
            >
            <input
              type="date"
              [(ngModel)]="demande.dateOfBirth"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              style="border-radius: 0; box-shadow: none; border-color: #ced4da"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" style="font-weight: bold"
              >Titre de formation</label
            >
            <input
              type="text"
              [(ngModel)]="demande.titleFormation"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              style="border-radius: 0; box-shadow: none; border-color: #ced4da"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" style="font-weight: bold"
              >Durée estimée</label
            >
            <input
              type="text"
              [(ngModel)]="demande.duration"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              style="border-radius: 0; box-shadow: none; border-color: #ced4da"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" style="font-weight: bold"
              >Prix estimé</label
            >
            <input
              type="text"
              [(ngModel)]="demande.priceEstimation"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              style="border-radius: 0; box-shadow: none; border-color: #ced4da"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="submit"
              class="btn btn-primary py-3 px-5"
              value="Ajouter"
              style="
                background-color: #007bff;
                border-color: #007bff;
                border-radius: 50px;
              "
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
