<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.svg" alt="" class="img-fluid" />
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>
        Les informations de la facture
        <br /><span></span><br />
      </h2>
    </div>
  </div>
</section>
<div>
  <h2>Informations de la facutre</h2>
  <p><strong>Nom du client :</strong> {{ result.clientName }}</p>
  <p><strong>Date :</strong> {{ result.date }}</p>
  <p><strong>Prix:</strong> {{ result.totalPrice }}</p>
  <p><strong>Méthode de payement :</strong> {{ result.methodOfPayment }}</p>

  <!-- Ajoutez d'autres champs d'information de l'utilisateur selon vos besoins -->
</div>
