<style>
  .hover-card {
    transition: transform 0.2s ease-in-out;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .hover-card:hover {
    transform: translateY(-10px);
  }
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-weight: bold;
    font-size: 20px;
    color: #222;
    margin-bottom: 10px;
  }
  .card-text,
  .list-group-item {
    font-size: 16px;
    color: #333;
    background-color: transparent;
  }
  .list-group-item {
    border: none;
  }
</style>

<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.svg" alt="" class="img-fluid" />
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>
        Affecter une formation à un groupe ou plusieurs groupes
        <br /><span></span><br />
      </h2>
    </div>
  </div>
</section>
<div class="site-section" style="padding: 50px 0">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 col-md-6 mb-4"
        *ngFor="let formation of formationsTab; let i = index"
        [attr.id]="'card-' + i"
      >
        <div
          class="card hover-card"
          style="border-radius: 20px; overflow: hidden; background-color: #fff"
        >
          <div class="card-body" (click)="affectation(formation._id)">
            <h5 class="card-title">
              {{ formation.name }}
            </h5>
            <p class="card-text">
              {{ formation.category }}
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="bi bi-calendar"></i> Date de début:
                {{ formation.datedebut }}
              </li>
              <li class="list-group-item">
                <i class="bi bi-calendar"></i> Date de fin:
                {{ formation.datefin }}
              </li>
              <li class="list-group-item">
                <i class="bi"></i> Prix: {{ formation.price }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const cards = document.querySelectorAll(".hover-card");
    cards.forEach((card) => {
      card.addEventListener("mousemove", (event) => {
        const x = (event.clientX - window.innerWidth / 2) / 20;
        const y = (event.clientY - window.innerHeight / 2) / 20;
        card.style.transform = `translate(${x}px, ${y}px)`;
      });
      card.addEventListener("mouseleave", () => {
        card.style.transform = "translate(0, 0)";
      });
    });
  });
</script>
