<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.svg" alt="" class="img-fluid" />
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>
        Les informations du groupe
        <br /><span></span><br />
      </h2>
    </div>
  </div>
</section>
<div>
  <h2>Informations du groupe</h2>
  <p><strong>Nom:</strong> {{ result.name }}</p>
  <p><strong>Nombre d' apprenants:</strong> {{ result.nbLearner }}</p>
  <p><strong>Nom du formateur:</strong> {{ result.trainerName }}</p>
  <!-- Ajoutez d'autres champs d'information de l'utilisateur selon vos besoins -->
</div>
