<section id="clients" class="section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3>Nos cLients</h3>
      <p>
        Découvrez quelques-uns de nos clients satisfaits qui ont bénéficié de
        nos programmes de formation en informatique et ont atteint leurs
        objectifs professionnels grâce à notre expertise et notre engagement
        envers l'excellence pédagogique.
      </p>
    </div>

    <div
      class="row g-0 clients-wrap clearfix"
      data-aos="zoom-in"
      data-aos-delay="100"
    >
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="assets/img/clients/client-1.png" class="img-fluid" alt="" />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="assets/img/clients/client-2.png" class="img-fluid" alt="" />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="assets/img/clients/client-3.png" class="img-fluid" alt="" />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="assets/img/clients/client-4.png" class="img-fluid" alt="" />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="assets/img/clients/client-7.png" class="img-fluid" alt="" />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="assets/img/clients/client-8.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
