<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.svg" alt="" class="img-fluid" />
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>Modification des donneés de la facture <br /><span></span><br /></h2>
    </div>
  </div>
</section>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form #factureForm="ngForm" (ngSubmit)="editFacture()">
          <div class="form-group mb-3">
            <select
              name=""
              id=""
              class="form-control"
              (change)="selectUser($event)"
            >
              <option value="">Veuillez sélectionner l'apprenant</option>
              <ng-container *ngFor="let u of usersTab">
                <ng-container *ngIf="u.role === 'apprenant'">
                  <option [value]="u._id" style="color: black">
                    {{ u.firstName }} {{ u.lastName }}
                  </option>
                </ng-container>
              </ng-container>
            </select>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Description du service </label>

            <input
              type="text"
              [(ngModel)]="facture.serviceDescription"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Prix </label>

            <input
              type="text"
              [(ngModel)]="facture.totalPrice"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>

          <div class="form-group mb-3">
            <label class="form-label">Méthode de payement </label>

            <input
              type="date"
              [(ngModel)]="facture.validityDate"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>

          <div class="form-group">
            <input
              type="submit"
              class="btn btn-primary py-3 px-5"
              value="Modifier"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
