<section id="why-us">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>Pourquoi nous choisir ?</h3>
      <p>
        nous croyons en l'importance de l'apprentissage tout au long de la vie
        et nous nous engageons à offrir une expérience éducative enrichissante
        et stimulante. Que vous soyez un débutant passionné par la technologie
        ou un professionnel cherchant à perfectionner vos compétences, nous
        sommes là pour vous aider à réaliser votre potentiel dans le monde de
        l'informatique.
      </p>
    </header>

    <div class="row row-eq-height justify-content-center">
      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="100">
          <i class="bi bi-chat-square-text"></i>
          <div class="card-body">
            <h5 class="card-title">01</h5>
            <p class="card-text">
              Nous nous engageons à fournir des programmes de formation de haute
              qualité, alignés sur les besoins du marché et constamment mis à
              jour pour refléter les dernières tendances et technologies de
              l'industrie
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="200">
          <i class="bi bi-chat-square-text"></i>
          <div class="card-body">
            <h5 class="card-title">02</h5>
            <p class="card-text">
              nous offrons un environnement d'apprentissage dynamique et
              collaboratif, où les étudiants peuvent développer des compétences
              pratiques, élargir leur réseau professionnel et bénéficier d'un
              soutien personnalisé tout au long de leur parcours.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="300">
          <i class="bi bi-chat-square-text"></i>
          <div class="card-body">
            <h5 class="card-title">03</h5>
            <p class="card-text">
              Nos diplômés bénéficient d'un avantage concurrentiel sur le marché
              du travail grâce à notre réseau d'entreprises partenaires, nos
              opportunités de stages et notre assistance au placement
              professionnel. Rejoignez-nous et donnez un coup de pouce à votre
              carrière dans le domaine passionnant de l'informatique.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
