<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.svg" alt="" class="img-fluid" />
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>Les informations du personnel<br /><span></span><br /></h2>
    </div>
  </div>
</section>
<div>
  <h2>Informations de l'utilisateur</h2>
  <p><strong>Nom:</strong> {{ result.firstName }}</p>
  <p><strong>Prénom:</strong> {{ result.lastName }}</p>
  <p><strong>Email:</strong> {{ result.email }}</p>
  <p><strong>Adresse:</strong> {{ result.adress }}</p>
  <p><strong>Téléphone:</strong> {{ result.tel }}</p>

  <!-- Ajoutez d'autres champs d'information de l'utilisateur selon vos besoins -->
</div>
