<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.svg" alt="" class="img-fluid" />
    </div>
    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2><br /><span></span><br />S'inscrire</h2>
    </div>
  </div>
</section>
<form class="container" [formGroup]="signupForm">
  <!-- <div class="form-group" style="visibility: hidden">
    <input
      type="file"
      class="form-control"
      #filePicker
      (change)="onImageSelected($event)"
    />
  </div>
  <div class="text-center m-3">
    <button class="btn btn-success" (click)="filePicker.click()">
      Choisissez votre photo de profil
    </button>
  </div> -->
  <div class="mb-3">
    <label class="form-label">Nom</label>
    <input type="text" class="form-control" formControlName="firstName" />
  </div>
  <div
    *ngIf="
      signupForm.controls['firstName'].invalid &&
      (signupForm.controls['firstName'].touched ||
        signupForm.controls['firstName'].dirty)
    "
  >
    <div
      *ngIf="
          signupForm.controls['firstName'].errors?.['required']"
    >
      First name is required !
    </div>
    <div
      *ngIf="
            signupForm.controls['firstName'].errors?.['minlength']"
    >
      First name must have at least 3 chars !
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Prénom </label>
    <input type="text" class="form-control" formControlName="lastName" />
  </div>
  <div
    *ngIf="
      signupForm.controls['lastName'].invalid &&
      (signupForm.controls['lastName'].touched ||
        signupForm.controls['lastName'].dirty)
    "
  >
    <div
      *ngIf="
        signupForm.controls['lastName'].errors?.['required']"
    >
      Last name is required !
    </div>
    <div
      *ngIf="
        signupForm.controls['lastName'].errors?.['minlength']"
    >
      Last name must have at least 4 chars !
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Email </label>
    <input type="email" class="form-control" formControlName="email" />
  </div>
  <div
    *ngIf="
      signupForm.controls['email'].invalid &&
      (signupForm.controls['email'].touched ||
        signupForm.controls['email'].dirty)
    "
  >
    <div
      *ngIf="
        signupForm.controls['email'].errors?.['required']"
    ></div>
    <div
      *ngIf="
        signupForm.controls['email'].errors?.['email']"
    ></div>
  </div>
  <div class="mb-3">
    <label class="form-label">Téléphone</label>
    <input type="tel" class="form-control" formControlName="tel" />
  </div>
  <div class="mb-3">
    <label class="form-label">Adresse</label>
    <input type="text" class="form-control" formControlName="adress" />
  </div>
  <div class="mb-3">
    <label class="form-label">Mot de passe </label>
    <input type="password" class="form-control" formControlName="password" />
  </div>
  <div class="mb-3">
    <label class="form-label">Confirmer mot de passe </label>
    <input
      type="password"
      class="form-control"
      formControlName="confirmPassword"
    />
  </div>

  <button type="submit" class="btn btn-primary btn-lg mb-3" (click)="signup()">
    S'inscrire
  </button>
</form>
