<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.svg" alt="" class="img-fluid" />
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>
        Ajouter cours
        <br /><span></span><br />
      </h2>
    </div>
  </div>
</section>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form #lessonForm="ngForm" (ngSubmit)="addLesson()">
          <div class="form-group mb-3">
            <label class="form-label">Titre du cours </label>

            <input
              type="text"
              [(ngModel)]="cours.descriptionLesson"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>
          <label class="form-label">Catégorie </label>

          <div class="form-group mb-3">
            <input
              type="text"
              [(ngModel)]="cours.categorie"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>

          <div class="form-group mb-3">
            <label for="file-upload"> Veuillez choisir les fichiers</label>
            <input
              type="file"
              [(ngModel)]="cours.file"
              [ngModelOptions]="{ standalone: true }"
              id="file-upload"
              name="files[]"
              accept="image/*,video/*,audio/*,.pdf,.txt"
              multiple
            />
          </div>
          <div class="form-group mb-3">
            <select
              name=""
              id=""
              class="form-control"
              (change)="selectGroupe($event)"
            >
              <option value="">Veuillez sélectionner le groupe</option>
              <option
                [value]="g._id"
                style="color: black"
                *ngFor="let g of groupesTab"
              >
                {{ g.name }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <input
              type="submit"
              class="btn btn-primary py-3 px-5"
              value="Ajouter"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
